@{
    ViewData["Title"] = "Home Page";
}


<div class="card justify-content-center">

    <a asp-controller="Clientes" asp-action="Create">
        <button type="button" class="btn btn-danger btn-block btn-menu">
            <i class="bi bi-bag"></i>
            Sou Cliente
        </button>
    </a>
    <hr/>

    <a asp-controller="Empreendedors" asp-action="Create">
        <button type="button" class="btn btn-danger btn-block btn-menu">
            <i class="bi bi-shop-window"></i>
            Sou Empreendedor
        </button>
    </a>
    <hr/>

    <a asp-controller="Fornecedors" asp-action="Create">
        <button type="button" class="btn btn-danger btn-block btn-menu">
            <i class="bi bi-truck"></i>
            Sou Fornecedor
        </button>
    </a>

</div>







