@page
@model EngajaBlack1.Views.Home.SobreModel
@{
}

<body class="body">
    
    <section class="sobre-nos rounded bg-dark text-white p-2 m-3">
        <h3 class="titulo text-center">Sobre nós</h3>
        <p class="text-center">
            Somos uma equipe de jovens programadores, em formação FullStack pelo programa RecodePro,
            que sensibilizados com a dificuldade que os empreendedores negros e periféricos sofrem em comparação aos outros grupos sociais ,
            desenvolvemos esta tecnologia para que haja maior pertencimento e perspectiva de melhora de vida para nosso público alvo.
        </p>
    </section>

    <section class="integrantes">
        <img alt="Foto dos integrantes do squad 30" src="~/img/squad30.jpeg"/>
    </section>
   

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
       

</body>
