.body{
    background: url("../img/Favela-e-Cristo-background.png");
    background-size: cover;
    
}

#logo {
    width: 50px;
}

ul, .titulo {
    font-family: 'Lacquer', cursive;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}



.card {
    width: 100%;
    max-width: 50%;
    position: absolute;
    left: 25%;
    margin: 10px;
}

.card a{
    text-decoration: none;
    margin: 5px;
}



.contato, .form-denuncia{
    color: #fff;
    text-align: center;
    margin-top:100px;
    width: 100px;

}
.btn-contato, .btn-denuncia{
    background-color:red;
    color: white;
}
.denuncia{
    color: white;
    text-align: center;
}

#avisoDenuncia{
    color: yellow;
    background-color:rgb(20, 16, 16);
}

.form-cadastro {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px 3px black;
    border-radius: 3px;
    width: 80%;
    padding: 10px;
    background-color: azure;
}