@model EngajaBlack1.Models.Cliente

@{
    ViewData["Title"] = "Cadastro de Cliente";
}


<body class="body">

    <h1 class="text-center text-white mt-3">Cadastro de Cliente</h1>

    <hr />
    <div class="form-cadastro mb-5">

        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label asp-for="Nome" class="control-label">Nome do cliente:</label>
                            <input asp-for="Nome" class="form-control" placeholder="Nome Completo" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="CPF" class="control-label"></label>
                            <input asp-for="CPF" class="form-control" placeholder="Digite apenas números" />
                            <span asp-validation-for="CPF" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label asp-for="Email" class="control-label">E-mail do cliente:</label>
                            <input asp-for="Email" type="email" class="form-control" placeholder="Exemplo: cliente@gmail.com" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Password" class="control-label">Senha:</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefone" class="control-label"></label>
                        <input asp-for="Telefone" type="tel" class="form-control" placeholder="(99)99999-9999" />
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                    <div class="row">


                        <div class="form-group col-md-6">
                            <label asp-for="Endereco" class="control-label">Endereço:</label>
                            <input asp-for="Endereco" class="form-control" placeholder="Rua, n°, complemento, bairro, cidade" />
                            <span asp-validation-for="Endereco" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="CEP" class="control-label">CEP:</label>
                            <input asp-for="CEP" class="form-control" placeholder="Digite apenas números" />
                            <span asp-validation-for="CEP" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreditCard" class="control-label">Cartão de crédito:</label>
                        <input asp-for="CreditCard" class="form-control" placeholder="Digite apenas números" />
                        <span asp-validation-for="CreditCard" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Cadastrar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
